
/*
.destaque {
  background-color: #FFF3CD;
  padding: 0.1em 0.35em;
  border-radius: 4px;
  font-weight: 600;
}
*/

/*
h2 {
  color: #ff00e1;
  border-bottom: 2px solid #ff00e1;
  padding-bottom: 0.2em;
}
*/
